<div class="container">
  <div class="row">
    <div class="col-md-8">
      {{> imageform }}
    </div>
    <div class="col">
      {{> popular }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{> recentuploads }}
    </div>
  </div>
</div>