<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {{>head}}
  </head>
  <body>
    {{>navigation}}

    <div class="container p-4">
      {{{ body }}}
    </div>

    <script src="/public/js/scripts.js"></script>
  </body>
</html>